
header{
    border-bottom: 4px solid #63A5FF;
}
.imagenPagina {
    width: 100%;
    max-width: 250px;
    padding: 1rem;
    
}

.contenedor_juego{
    background-color: #63A5FF;
    height: 80vh;
}

.contenedor_sudoku{
    width: 90%;
    /* background-color: white ; */
    height: 90%;
}

.form-select{
    width: 100px;
}

.boton_pausa {
    height: 30px;
}